@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Readex+Pro:wght@371&display=swap');
.card-type1,
.card-type2 {
    background: #fff;
    height: 100%;
    padding: 50px 30px 50px 30px;
    text-align: center;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 15px 12px 0px rgb(0 0 0 / 21%);
    .card-heading {
        .icons {
            font-size: 3.7rem;
        }
        h5 {
            font-family: 'Dongle', sans-serif;
            font-weight: 700;
            font-size: 36px;
        }
    }
    .ornamen {
        width: 200px;
        img {
            width: 100%;
        }
    }
    .card-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .date {
            font-family: 'Dongle', sans-serif;
            font-weight: 700;
            font-size: 28px;
        }
        .hour {
            font-family: 'Dongle', sans-serif;
            font-weight: 400;
            font-size: 26.5px;
        }
        .place {
            font-family: 'Dongle', sans-serif;
            font-weight: 700;
            font-size: 28.5px;
        }
        .address {
            font-family: 'Dongle', sans-serif;
            font-weight: 400;
            font-size: 26.5px;
        }
        .button-maps {
            font-family: 'Readex Pro', sans-serif;
            font-weight: 371;
            background-color: #86A0B6;
            border-radius: 5px;
            font-size: 18px;
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            // width: 150px;
            padding: 15px 45px;
            transition: all .3s ease-out;
            &-type2 {
                i {
                    margin-right: 5px;
                }
                &:hover {
                    cursor: pointer;
                    // opacity: 0.8;
                }
            }
            i {
                margin-right: 5px;
            }
            &:hover {
                cursor: pointer;
                opacity: 0.8;
            }
        }
    }
}

.card-type2 {
    box-shadow: none;
    border-radius: 0;
}