@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');
.quotes-parallax {
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    overflow: hidden;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    .quotes-overflow {
        padding: 120px 120px 140px 120px;
        width: 100%;
        height: 100%;
        background-color: #00000083;
        @media only screen and(max-width: 767px) {
            padding: 30px 10px;
        }
        .content {
            margin: 0 0 0 0;
            padding: 0% 12% 0% 12%;
            .blockquote {
                margin: 0;
                padding: 0;
                outline: 0;
                font-size: 100%;
                vertical-align: baseline;
                background: transparent;
                quotes: none;
                border: 0;
                font-style: normal;
                color: #55595c;
                text-align: center;
                &::before {
                    content: "“";
                    font-size: 100px;
                    color: #e6e9ec;
                    font-family: Times New Roman, Times, serif;
                    font-weight: 900;
                    line-height: 1;
                    display: block;
                    height: 0.6em;
                    color: #ffffff;
                    font-size: calc(1.0px * 100);
                }
                p {
                    color: #ffffff;
                    font-family: "Cormorant Garamond", Sans-serif;
                    font-size: 24px;
                    font-weight: 400;
                    text-transform: none;
                    font-style: italic;
                    line-height: 1.2em;
                    margin-top: 35px;
                }
            }
        }
    }
}